<% cache product do %>

<div class="col-xs-12 col-s-6 col-m-6 col-lg-4">
  <%= image_tag(product.image_url, class: "img-responsive") %>
    <h3><%= product.name %></h3>
    <p><%= product.description %><br>
    <%= product.price %></p>

    <div class="product_wrapper">
      <span><%= link_to 'Show', product, class: "btn btn-inverse edit-btns" %></span>
      <span><%= link_to 'Edit', edit_product_path(product), class: "btn btn-inverse edit-btns" %></span>
      <span><%= link_to 'Destroy', product, method: :delete, date: {confirm: 'Are you sure?' }, class: "btn btn-inverse edit-btns" %></span>

    </div> <!-- end wrapper-->
  </div> <!--col -->

<% end %>
