<div class="container" id="product">

  <h1><%= @product.name %></h1>


  <div class="productheading">
  <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %>
  </div>


  <br>

  <h4>Description</h4>

  <% cache @product do %>
  <p><%= @product.description %></p>
  <% end %>

  <h4>Color:</h4>
    <p><%= @product.colour %></p>

  <br>

  <h4>Price:</h4>
    <p><%= @product.price %></p>

  <h4>Average rating:</h4>
  <p>
    <div id="average-rating" class="rated" data-score= "<%= @product.average_rating %>"></div>
  </p>

  <br><br>

  <%= form_tag "/payments/create" do %>
    <%= render partial: 'shared/stripe_checkout_button' %>
    <%= hidden_field_tag(:product_id, @product.id) %>
  <% end %>

  <br><br>

  <%= render 'new_comment' %>

  <%= render 'comments' %>

  <br><br>

  <%= link_to 'Back', products_path, :class =>"btn btn-default edit-btns" %>

  </div>
  </div>
